body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: "Poppins", sans-serif;
  color: white;
}
canvas {
  display: block;
}
.overlay {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  text-shadow: 0 0 12px #00baff;
}
