body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}

canvas {
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.overlay h1 {
  font-size: 2.5em;
  margin: 0;
  text-shadow: 0 0 20px #00baff;
}

.overlay p {
  margin-top: 8px;
  opacity: 0.8;
}
